<!-- BEGIN: main -->
<html><head><title>IP Accounting</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body text="#000000" bgcolor="#ffffff" link="#ff0000" vlink="#aa0000" alink="#aa0000">
<h3> Network traffic </h3><br>

<table cellspacing="0" border=1px width="100%" class=ex >

<tr>
<td class=azulea>Source IP</td><td class=azulea>Source Port</td>
<td class=azulea>Destination IP</td><td class=azulea>Destination Port</td>
<td class=azulea>Protocol</td>
<td class=azulea>Packets</td><td class=azulea>Started in</td>
<td class=azulea>Last packet in</td>
</tr>

<!-- BEGIN: item -->
<tr>
<td class=moie>{SIP}</td><td class=moie>{SPORT}</td>
<td class=moie>{DIP}</td><td class=moie>{DPORT}</td>
<td class=moie>{PROTO}</td>
<td class=moie>{PACKETS}</td>
<td class=moie>{START_DATE}</td>
<td class=moie>{LAST_PACKET_DATE}</td>
</tr>
<!-- END: item -->

</table>
<h3>{FOOTER}</h3>
</body>
</html>
<!-- END: main -->

